.Button {
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 15px 15px;
    box-shadow: 10px 10px 15px grey;
    background-color: tomato;
    color: white;
    font-weight: 700;
    font-size: large;
}